/* Importando a nova fonte 'Fira Code' */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 16px;
}

/* Variáveis de tema claro e escuro */
:root {
  --bg-color: #f5f5f5;
  --text-color: #2e2e2e;
  --primary-color: #ff6f61;
  --secondary-color: #4a4a4a;
  --card-bg-color: #ffffff;
  --header-bg-color: #333;
  --sidebar-bg-color: #eaeaea;
  --sidebar-text-color: #2e2e2e;
  --border-color: #ff6f61;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
  --welcome-text-color: #2e2e2e;
  --about-section-bg: #f5f5f5;
  --about-section-text-color: #2e2e2e;
  --button-bg-color-dark: #bb86fc; /* Cor personalizada para o botão no modo escuro */
}

.dark-mode {
  --bg-color: #202124;
  --text-color: #f5f5f5;
  --primary-color: #bb86fc;
  --secondary-color: #a0a0a0;
  --card-bg-color: #303134;
  --header-bg-color: #1e1e1e;
  --sidebar-bg-color: #121212;
  --sidebar-text-color: #f5f5f5;
  --border-color: #bb86fc;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --welcome-text-color: #f5f5f5;
  --about-section-bg: #202124;
  --about-section-text-color: #f5f5f5;
}

/* Suavizando transições */
* {
  transition: all 0.3s ease;
}

/* Botão personalizado para "Ver Projetos" */
.button-projects {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

/* Estilo para o botão no modo escuro */
.dark-mode .button-projects {
  background-color: var(--button-bg-color-dark);
}

.button-projects:hover {
  background-color: #ff8567;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.button-projects:active {
  transform: translateY(0);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Container Principal */
.container {
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg-color);
  padding: 20px;
  color: var(--sidebar-text-color);
  position: fixed;
  height: 100%;
  box-shadow: 0 4px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ajuste para remover espaços */
.sidebar,
.main-content,
.about-section,
.welcome-section {
  margin: 0;
  padding: 0;
}

/* Sidebar links */
.sidebar h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--sidebar-text-color);
  font-size: 1.1em;
  padding: 10px;
  display: block;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar h2 a {
  text-decoration: none;
  color: var(--primary-color);
}

.sidebar h2 a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

/* Botão de alternância de tema */
.theme-toggle {
  margin-top: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* Main Content */
.main-content {
  flex: 1;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 250px);
  height: 100vh;
  background-color: var(--bg-color);
}

/* Seção de boas-vindas */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--card-bg-color);
  padding: 50px;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 16px var(--shadow-color);
  transition: border 0.4s ease;
}

.welcome-section h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.5rem;
  color: var(--welcome-text-color);
  max-width: 700px;
  margin-bottom: 40px;
  line-height: 1.6;
  padding: 20px;
  border-radius: 12px;
}

/* Borda vermelha no tema claro */
.welcome-section:hover {
  border: 2px solid red;
}

/* Borda amarela no tema escuro */
.dark-mode .welcome-section:hover {
  border: 2px solid yellow;
}

/* Seção Sobre Mim */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: var(--sidebar-bg-color);
  color: var(--about-section-text-color);
  padding: 20px 50px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 8px 16px var(--shadow-color);
  position: relative;
}

.about-section h2 {
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.about-section p {
  font-size: 1.5rem;
  color: var(--about-section-text-color);
  max-width: 700px;
  margin-top: 20px;
  line-height: 1.6;
}

/* Ajuste da altura das divs na seção Sobre Mim */
.about-content {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: stretch; /* Estica para preencher a altura da div */
  width: 100%; /* Garante que ocupa toda a largura disponível */
  background-color: var(--sidebar-bg-color); /* Cor de fundo da sidebar */
  border-radius: 12px; /* Bordas arredondadas para um visual mais suave */
}

.about-text {
  flex: 1; /* Permite que a div de texto ocupe o espaço disponível */
  margin-right: 20px; /* Espaço entre o texto e a imagem */
  text-align: justify; /* Justifica o texto */
  padding: 20px; /* Adiciona espaço interno, indentando o texto */
  background-color: var(--sidebar-bg-color); /* Cor de fundo da sidebar */
  border-radius: 12px; /* Bordas arredondadas para o texto */
}

.about-image {
  flex: 0 0 40%; /* Define uma largura fixa para a imagem */
  height: 100%; /* Garante que a imagem preencha a altura da div */
}

.banner-image {
  width: 100%; /* Ajusta a imagem para ocupar toda a largura da div */
  height: 100%; /* Garante que a imagem ocupe toda a altura da div */
  object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorção */
  border-radius: 12px; /* Bordas arredondadas para um visual mais suave */
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 20px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px 10px;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .about-section {
    width: 100%;
    padding: 30px;
  }

  .about-section h2 {
    font-size: 2.5rem;
  }

  .about-section p {
    font-size: 1.3rem;
  }
}

.divider {
  width: 100%; /* Largura total */
  height: 2px; /* Altura da linha */
  background-color: var(--primary-color); /* Cor da linha */
  margin: 20px 0; /* Margem acima e abaixo da linha */
  border: none; /* Remove a borda padrão */
}

/* Seção Projetos */
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: var(--sidebar-bg-color); /* Usando a cor da sidebar */
  color: var(--about-section-text-color);
  padding: 20px 50px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 8px 16px var(--shadow-color);
  position: relative;
}

.projects-section h2 {
  font-size: 3rem; /* Tamanho da fonte do título */
  color: var(--primary-color);
  margin-bottom: 10px; /* Reduzir espaço entre título e linha */
}

.projects-section p {
  font-size: 1.2rem; /* Reduzindo o tamanho da fonte do texto */
  color: var(--about-section-text-color);
  max-width: 100%; /* Largura total */
  margin-top: 20px;
  line-height: 1.6;
  text-align: justify; /* Justifica o texto */
}

/* Ajuste da altura das divs na seção Projetos */
.projects-content {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: stretch; /* Estica para preencher a altura da div */
  width: 100%; /* Garante que ocupa toda a largura disponível */
  background-color: var(--sidebar-bg-color); /* Cor de fundo da sidebar */
  border-radius: 12px; /* Bordas arredondadas para um visual mais suave */
  padding: 20px; /* Adiciona espaço interno */
}

.projects-text {
  flex: 1; /* Permite que a div de texto ocupe o espaço disponível */
  text-align: justify; /* Justifica o texto */
  padding: 20px; /* Adiciona espaço interno, indentando o texto */
  background-color: var(--sidebar-bg-color); /* Cor de fundo da sidebar */
  border-radius: 12px; /* Bordas arredondadas para o texto */
}

.projects-list {
  margin: 20px 0; /* Adiciona margens acima e abaixo da lista */
  padding-left: 20px; /* Indentação para a lista */
}

.projects-list li {
  margin-bottom: 10px; /* Espaçamento entre os itens da lista */
  font-size: 1rem; /* Reduz o tamanho da fonte para os itens da lista */
}

/* Seção dos Cards de Projetos */
.projects-cards {
  display: flex;
  justify-content: space-around; /* Espaço entre os cards */
  flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha em telas menores */
  margin-top: 40px; /* Espaço acima dos cards */
}

.card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 20px;
  margin: 10px;
  flex: 0 1 300px;
  text-align: center;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}


.card h3 {
  font-size: 1.5rem; /* Tamanho do título do card */
  color: var(--primary-color); /* Cor do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
}

.card p {
  font-size: 1rem; /* Tamanho do texto de descrição */
  color: var(--text-color); /* Cor do texto */
  margin-bottom: 20px; /* Espaço abaixo da descrição */
}


.card:hover {
  border-color: yellow; /* Muda a cor da borda para amarelo ao passar o mouse */
}


.card-image {
  width: 100%; /* Aumenta a largura da imagem para 100% */
  height: auto; /* Mantém a proporção da altura */
  border-radius: 12px; /* Bordas arredondadas para a imagem, se desejado */
}




.projects-cards-container {
  overflow-x: auto; /* Permite o scroll horizontal */
  white-space: nowrap; /* Evita que os cards se quebrem em várias linhas */
  padding: 20px 0; /* Adiciona espaçamento acima e abaixo */
}





